{% extends 'base.html' %}
{% block content %}

<div class="row">
    {% for book in books %}
    <div class="col-12 col-md-4 mb-2 mt-2 center-block">

    <div class="card mb-5" style="width: 18rem;">
        <a href="{% url 'detail' book.id %}"><img class="card-img-top" src="{{book.img.url}}" style="height:300px;width:286px;" alt="Card image cap"></a>
  <div class="card-body">
    <h5 class="card-title">{{book.name}}</h5>
    <a href="{% url 'detail' book.id %}" class="btn btn-primary">ORDER</a>
  </div>
</div>
    </div>
    {% endfor %}
    </div>
{% if user.is_authenticated %}
<a class="btn btn-primary" href="{% url 'logout' %}">logout</a>
{% else %}
<a class="btn btn-primary" href="{% url 'login' %}">login</a>
{% endif %}
{% endblock %}